@page "/"
@layout LandingPageLayout

<PageTitle>Meal Planner AI - Plan your next meal with the power of AI</PageTitle>

<div class="page">
	<div class="pagestyle">
		<nav class="row align-items-center">
			<div class="col text-end me-3 p-3">
				<a href="https://jmj-techdevportfolio.netlify.app/" target="_blank">About</a>
			</div>
		</nav>
		<main class="landingPage">
			<div class="text-center">
				<img src="img/Meal_Planner.png" height="300" />
			</div>
			<div class="text-center m-3">
				<a href="/createmeal" class="startbtn btn btn-lg text-light">Let's Plan A Meal Today!'</a>
			</div>
		</main>
		<footer class="text-light w-100 align-items-center">
			<div class="row bg-secondary">
				<div class="col text-start">

				</div>
				<div class="col text-center p-2">
					&copy; The DotNetDev - Jerry McKee Jr. 2024
				</div>
				<div class="col d-flex text-end align-items-center justify-content-end me-3">
					<a href="https://thetechpulse.up.railway.app/" target="_blank">Tech Pulse</a>
				</div>
			</div>
		</footer>
	</div>
</div>
