

<div class="h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="text-center">
		<h3>Your Recipe is being prepared...</h3>
		<h4>One moment please...</h4>
	</div>
	<div class="loader">
		Prepping...
	</div>
</div>

@code {

}
