@inherits LayoutComponentBase

<TopNavMenu />
<main>
	@Body
</main>
<footer class="text-light w-100 align-items-center">
	<div class="row bg-secondary">
		<div class="col text-start">
		</div>
		<div class="col text-center p-2">
			&copy; The DotNetDev - Jerry McKee Jr. 2024
		</div>
		<div class="col d-flex text-end align-items-center justify-content-end me-3">
			<a href="https://thetechpulse.up.railway.app/" target="_blank">Tech Pulse Blog</a>
		</div>
	</div>
</footer>

@code {

}
